/*
Welcome to Custom CSS!

CSS (Cascading Style Sheets) is a kind of code that tells the browser how
to render a web page. You may delete these comments and get started with
your customizations.

By default, your stylesheet will be loaded after the theme stylesheets,
which means that your rules can take precedence and override the theme CSS
rules. Just write here what you want to change, you don't need to copy all
your theme's stylesheet content.
*/
/* irritantis.info */
body {
	font-family: 'Droid Sans', 'TBUDゴシック R', sans-serif !important;
}

.entry h3.title, h1.title, h2.featured-title, .block-post h3.title {
	font-family: 'Droid Sans', 'TBUDゴシック R', sans-serif;
}

strong {
	color: #dc143c;
}

em {
	font-style: normal;
	font-weight: bold;
	color: #727171;
	font-size: 80%;
}

.loopsingle h3 {
	border-left: 12px solid #dcdcdc;
	padding: .7em;
	margin: 1.2em 0;
	font-weight: bold;
	font-size: 1.75em;
	background-color: #f5f5f5;
}

.loopsingle h4 {
	font-weight: bold;
	font-size: 1.5em;
	margin: .7em 0;
}

.addthis_default_style {
	margin-bottom: 1.2em;
}

#entries h3, #entries h4 {
	line-height: 1.7;
	border-bottom: 1px dotted #ccc;
}

#entries p {
	font-size: 1.2em;
	padding-bottom: 1.8em;
	line-height: 1.5;
}

#entries p.meta-info {
	font-size: .9em;
}

#entries p a {
	text-decoration: underline;
}

#entries p img {
	display: inline-block;
	box-shadow: 0 0 20px -5px rgba(0,0,0,0.8);
	margin: 10px;
	max-width: 96%;
}

#entries img.kadomaru {
	border-radius: 10px;
}

#entries blockquote p {
	font-style: normal;
	font-size: 1em;
	padding-bottom: 0;
}

#entries ol, #entries ul {
	line-height: 1.7;
	font-size: 1.2em;
	padding-bottom: .8em;
}

ol.long li, ul.long li {
	margin-bottom: .8em;
}

.entry hr {
	margin: 10px 0 20px;
}

#entries iframe {
	margin-bottom: 20px;
}

.entry blockquote {
	font-style: normal;
	background: transparent;
}

#entries p.wp-caption-text {
	padding: 4px 0 0;
	font-size: .9em;
}

.entry small {
	font-size: 80%;
}

iframe, embed, #entries img {
	max-width: 100%;
}

.wp-caption {
	margin-bottom: 30px;
}

/*Responsive Smartphone style*/
@media only screen and ( max-width: 479px ) {
	.container {
		width: 340px;
	}
	
	.recent-from, .recent-last, .recent-middle, #left-area {
		width: 337px !important;
	}
	
	#entries {
		padding: 31px 19px 27px;
	}
	
	.loopsingle h3 {
		padding: .4em;
		font-size: 1.5em;
	}
}